body {
    background-color: #fff;
    color: #ffffff;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

main {
    height: auto;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    background-color:#798777;
    height: 76px;
    width: 100%;
    z-index: 95;
}

header .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .title {
    line-height: 76px;
    text-align: center;
    vertical-align:middle;
    color: var(--app-header-text-color);
    text-decoration: none;
}

header .title h1 {
    color: var(--app-header-text-color);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.2px;
    line-height: 76px;
    margin-left: 5px;
}

nav {
    transition: all 0.25s ease-out;
}

nav ul li {
    display: inline;
    line-height: 76px;
}

nav ul li a, .navbar i {
    color: var(--app-header-menu-text-color);
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.2px;
    transition: all 0.25s ease-in-out;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar i {
    font-size: 20px;
    font-weight: 600;
    line-height: 76px;
}

nav ul li a:hover { 
    color: #ecd100;
}

.scrolled {
    animation: all .25s ease-in-out;
    box-shadow: var(--app-body-box-shadow);
}


@media (min-width:768px) {
    nav > ul {
        display: block;
    }
    .navbar {
        display: none;
    }  
    
    .background-opacity-nav-open {
        display: none;
    }
}

#sawit-banner {
    height: 100vh;
    text-align: center; 
    margin-top: 76px;
    overflow: hidden; 
    display: grid;
    place-items: center;   
    background: #808080 url("../images/Buah-Kelapa-Sawit.jpg") center center / cover no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply; 
}

.content {
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    justify-content: center;
    place-content: center;
}


.h-text {
    display: flex;
    place-content: center;
    width: 60%;
    color: #ffffff;
    margin: auto;
}

h1.h-title {
    font-size: 35px;
    color: #ffffff;
}


.about-text {
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
}

.h-button {
    height: 50px;
    width: 170px; 
    text-align: center;
    letter-spacing: 0.2px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 40px;
    box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(184, 184, 184, 0.9);
    color: #FFFAF0;
    background-color: #A2B29F;
    transition: all 0.25s ease-in-out;
  }
  
.h-button:hover {
    background-color: #f0f2ff;
    color: #ecd100;
    cursor: pointer;
}

.nav-media {
    position: relative; 
    height: 50px;
    display: flex;
    text-align: left;
    justify-content: space-between;
    position: center;
    place-items: center;
    line-height: 50px;
    top: 20vh;
}

.btn-media + .btn-media {
    margin-left: 15px;
}

[data-animation-offset] {
    animation: trans 0.5s ease-in ;
  }
  
  [data-animation-offset="first"] { animation-delay: 0.2s;}
  [data-animation-offset="second"] { animation-delay: 0.3s;}
  [data-animation-offset="third"] { animation-delay: 0.5s;}
  
  @keyframes trans {
    from {
        opacity: 0;
        translate: -25px 0;
        
    } to {
        opacity: 3;
        translate: 0 0;
    }
  }

@media (max-width:768px) {
    h1.h-title {
        font-size: 24px;
    }

    .h-text {
        width: 90%;
    }
}

@media (min-width:768px) { 
    h1.h-title {
        font-size: 35px;
    }

    .h-text {
        width: 60%;
    }
}

#our-services {
    width: 100%;
    display: grid;
    place-items: center;
    background-color: #FFFAF0;
    padding: 50px 0;
  }

#our-services h1 {
    color: black;
}

  .vertical {
    display: flex;
    flex-wrap: wrap;
  }

  .horizontal {
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
  }

  .board {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%, #BDD2B6 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
  }

  .section-heading {
    font-size: 30px;
    font-weight: 700;
    color: black;
    text-align: center;
  } 

  .service-para{
    color: black;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    padding: 15px 0px 15px 30px;
  }

  .board-heading {
    font-size: 20px;
    font-weight: 600;
    color: black;
    margin: 1em 0;
  }

  .horizontal .board-para {
    color: #808080;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-align: justify;
  }

  .board:hover {
    background-position: 0 100%;
  }
  
  .board:hover p {
    color: #a08e08;
  }

  @media screen and (min-width: 768px) {
    section {
      padding: 0 2em;
    }
    .horizontal {
      flex: 0 50%;
      max-width: 50%;
    }
  }
  @media screen and (min-width: 992px) {
    section {
      padding: 1em 3em;
    }
    .horizontal {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
  }

.footer {
    background-color: #798777;
    color: white;
    padding: 20px 0;
}
.footer a {
    color: #ffffff;
    text-decoration: none;
}
.footer a:hover {
    color: #ffc107;
    text-decoration: none;
}

